node_modules/
/.next/
/server/dist/

# NOTE: 古いバージョンのときの残骸なので対応しない
/v1/
/.storybook/preview.tsx
/components/api.ts
/components/AppThemeProvider.tsx
/components/contents.ts
/components/contents/AddVideosButton.stories.tsx
/components/contents/AddVideosButton.tsx
/components/contents/AddVideosDialog.tsx
/components/contents/VideosSelectorTable.tsx
/components/ContentsPlayer.tsx
/components/ContentsTable.tsx
/components/EditContents.tsx
/components/EditVideo.tsx
/components/log.ts
/components/player.ts
/components/player/volume.ts
/components/ReorderVideos.tsx
/components/session.ts
/components/ShowContents.tsx
/components/state.tsx
/components/Table.tsx
/components/validUrl.ts
/components/video.ts
/components/VideoJs.tsx
/components/VideosTable.tsx
/components/Vimeo.tsx
/pages/contents.tsx
