/.next/
/.vercel/
/openapi/
node_modules/
/eslint_report.json
/public/api/v2/swagger/
/public/storybook/
/public/LICENSE
/server/dist/
/server/prisma/json-schema.json
/server/prisma/migrations/
/utils/$path.ts
.env*
