<?php
namespace Config;

const OAUTH_CONSUMERS = [
    ['oauth_consumer_key' => 'key', 'oauth_signature' => 'signature']
];

const DB_HOST = 'localhost';
const DB_USERNAME = 'username';
const DB_PASSWORD = 'passowrd';
const DB_DATABASE = 'db';

const WOWZA_BASE_URL = 'https://example/path/to';
const WOWZA_SECURE_TOKEN = 'secrettoken';
const WOWZA_QUERY_PREFIX = 'wowzatoken';
const WOWZA_EXPIRES_IN = 3600;
