@charset "UTF-8";
/*---- reset -----*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite,
del, dfn, img, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style:normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

/*---- common -----*/

html {
  height: 100%;
  overflow-y: scroll;
}
body {
  height: 100%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color: #FFF;
  color: #444;
  line-height: 1.7;
  margin: 0px;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
}
.wrapper {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}
.heading {
  background: #269ddc;
  border-radius: 0;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.6));
  margin-bottom: 0;
  min-height: 36px;
}
.heading a {
  color: #FFF;
}
.heading a:hover {
  color: #ECA130;
  text-decoration: unset;
}
.heading a.active {
  color: #ECA130;
  cursor: default;
}
.main {
  overflow-y: hiddun;
  height: 90%;
  border-radius: 0;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.6));
}
.main-container {
  height: 100%;
  width: 100%;
  background: white;
  table-layout: fixed;
}
.main-container-edit {
  height: 100%;
  background: white;
  table-layout: fixed;
}
.left-cell {
  width: 240px !important;
  vertical-align: top;
  font-size: 12px;
}
.list-block {
  position: sticky;
  top: 13px;
  width: 215px;
  margin: 13px 5px 0px 20px;
  height: 95%;
}
#pagination-here {
  padding-top: 25px;
  padding-bottom: 10px;
}
.list-div {
  padding-left: 20px;
}
.list-area {
  color: #4774b9;
  position: static;
  display: initial;
  list-style-type: disc;
}
.list-area li {
  height: unset;
  text-indent: inherit;
  background: transparent;
  padding: 2px 0 2px 0;
  cursor: default !important;
}
.list-area li:hover {
  cursor: pointer;
  /*background: #f3f3f3;*/
}
.active {
  color: #ECA130;
  background: transparent;
}
.list-text {
  cursor: pointer;
  display: inline-flex;
  text-indent: initial;
  width: 85%;
}
.list-text:hover {
  color: #999;
  /*text-decoration: underline;*/
}
.middle-cell {
  background: #f3f3f3;
  width: 240px !important;
  vertical-align: top;
  font-size: 12px;
}
.toc-edit {
  float: right;
  display: inline-flex;
  width: 10%;
}
.toc-area {
  height: 85%;
  list-style-type: decimal;
  color: #4774b9;
  text-indent: -1.2em;
  margin-top: 1rem;
  border: dotted #676767;
  padding: 10px;
}
.toc-area li {
  margin-left: 1em;
}
.toc-area .oi {
  display: inline-flex;
}
.toc-form {
  width: 80% !important;
  display: unset !important;
}
.oi-pencil {
  display: none;
  color: #4774b9;
}
.oi-pencil:hover {
  cursor: pointer;
  color: #ECA130 !important;
}
.oi-trash {
  display: none;
  color: #4774b9;
  padding-left: 6px;
}
.oi-trash:hover {
  cursor: pointer;
  color: #ECA130;
}
.right-cell {
  width: 650px;
  position: relative;
  vertical-align: top;
}
.carousel-inner {
  height: 100%;
}
.reuse-info {
  padding: 8px;
}
.reuse-title {
  clear: both;
  font-size: 22px;
  line-height: 20px;
  padding-top: 30px;
  font-weight: 700;
}
.item-info {
  border: unset;
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
  padding: 10px;
  height: 90%;
}
.item-creator {
  float: left;
  font-size: 12px;
  margin-bottom: 0.5em;
}
.item-cover {
  font-size: xx-large;
  text-align: center;
  padding-top: 200px;
}
   
.item-video {
  clear: both;
  text-align: center;
  margin-bottom: 0.5em;
}
.item-video video {
  max-width: 490px;
  max-height: 280px;
}
.item-text {
  font-size: 14px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  overflow-y: auto;
  height: 400px;
  white-space: pre;
  text-align: left;
}
.microcontent-text {
  font-size: 14px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  overflow-y: auto;
  height: 100px;
}

input, textarea {
  margin: 0;
  padding: 0;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th {
  text-align: left;
}
.main a, .main a:link, .main a:active, .main a:visited {
  color: #0084b4;
  text-decoration: none;
}
.main a:hover {
  color: #71bcd8;
  text-decoration: none;
}
.main a:focus {
  outline: none;
}
img {
  border: none;
  text-decoration: none;
}
a {
  border: none;
}
/*---- edit -----*/

.edit-wrapper {
  width: 1230px;
}
/*---- view -----*/

.view-wrapper {
  width: 990px;
}
.view-title {
  font-weight: 700;
  font-size: large;
  color: white;
}
.view-list {
  list-style-type: decimal;
}
.carousel-control-next, .carousel-control-prev {
  top: 0;
  bottom: 350;
}
.page-switch-area {
  position: sticky;
  width: 50px;
  height: 300px;
  top: 30%;
  bottom: 30%;
  cursor: pointer;
}
.carousel-control-prev {
  overflow: hidden;
  /*display: block;*/
  position: relative;
  /*top: 20px;*/
  opacity: .3;
  z-index: 99!important;
  border: none!important;
  padding: 0;
  margin: 0;
  padding-top: .2em;
  padding-bottom: .44em;
  font-size: 40px;
  background-color: rgba(255, 255, 255);
  color: #000;
  width: 100%;
  height: 100%;
  border-top-right-radius: .3em;
  border-bottom-right-radius: .3em;
}
.carousel-control-next {
  overflow: hidden;
  /*display: block;*/
  position: relative;
  /*top: 20px;*/
  opacity: .3;
  z-index: 99!important;
  border: none!important;
  padding: 0;
  margin: 0;
  padding-top: .2em;
  padding-bottom: .44em;
  font-size: 40px;
  background-color: rgba(255, 255, 255);
  color: #000;
  width: 100%;
  height: 100%;
  border-top-left-radius: .3em;
  border-bottom-left-radius: .3em;
}
.page-switch-overlay-icon:hover {
  background-color: rgba(0, 0, 0, .2);
}
.page-switch-overlay-icon:hover .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke-width='0%' stroke='white' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.page-switch-overlay-icon:hover .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke-width='0%' stroke='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.cover {
  position: relative;
  height: 100%;
}
.cover span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: xx-large;
}
/*---- list -----*/

.thumbnail-area {
  padding: 39px;
}
.thumbnail-area label {
  padding-left: 2px;
  padding-right: 2px;
}
.thumbnail {
  width: 120px;
  height: 180px;
  background-image: url(../img/cover.png);
  margin-right: 10px;
  padding: 15px;
  word-wrap: break-word;
  margin: 3px;
}
.thumbnail:hover {
  opacity: 0.70;
}
.thumbnail h3 {
  font-size: 13px;
  color: #ffffff;
  line-height: 1.2;
  height: 100px;
  margin-bottom: 9px;
  text-align: center;
}
.thumbnail h4 {
  font-size: 13px;
  color: #ffffff;
  line-height: 1.2;
  margin-bottom: 9px;
  text-align: center;
}
#list .oi {
  display: inline-flex;
}
/*---- modal -----*/

.modal-dialog,
.modal-content {
    height: 80%;
}
.subtitle-list .oi {
  display: inline;
}
